{% extends "base.html" %}
{% set title = _('Set Password') %}
{% block body %}
    <div style="text-align: center;">
        <form action="{{ url('account_set_password') }}" method="POST" class="form-area" style="display: inline-block">{% csrf_token %}
            <table border="0">{{ form.as_table() }}</table>
            <hr>
            <button class="ui button" style="float:right;" type="submit">{{ _('Set Password') }}</button>
            <div style="clear: both"></div>
        </form>
    </div>
{% endblock %}