Django>=1.11,<3
django_compressor
django-mptt>=0.8.4,<0.10
-e git://github.com/DMOJ/django-pagedown.git#egg=django-pagedown
django-registration-redux>=1.9,<2.5
django-reversion
django-social-share
django-sortedm2m
django-impersonate
lxml
Pygments
mistune
social-auth-app-django
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja
llist
pymysql
django-redis
mysqlclient
django_select2
django_anymail
websocket-client
https://github.com/darklow/django-suit/tarball/v2
django-import-export>=1.0.1,<2