Django==2.1
django_compressor
django-mptt
django-reversion
django-social-share
django-sortedm2m
django-impersonate
django_gravatar2
django-ace
lxml
Pygments
mistune
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja
llist
pymysql
django-redis
mysqlclient
django_select2
django_anymail
websocket-client
https://github.com/darklow/django-suit/tarball/v2
django-import-export
django-allauth
gunicorn[gevent]
raven