<meta charset="utf-8">
<span style="display:block;margin: 0 2px;padding: 1em;background-color: #f8f8f8;font-size: .95em;color: #444;">

<b>感谢您注册 {{ current_site.name }}!</b><br/><br/>
请在 24 小时内激活您的账号。<br/>你可以直接点击以下按钮完成账号激活：
<p align="center">
<a href="{{ activate_url }}"
   style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border: 1px solid #666;border-radius: 1px;background: #2980b9;background: linear-gradient(180deg, #00aee0, #2980b9);text-decoration: none;line-height:2em;font-size:1em;width:12em;">{{ _('Activate') }}</a>
</p>
</span>