<meta charset="utf-8">
<span style="display:block;margin: 0 2px;padding: 1em;background-color: #f8f8f8;font-size: .95em;color: #444;">

这是一封密码重置邮件，用于重置 {{ site_name }} 上的账号<br/><br/>
您要重置的用户名是 "{{ username }}", 请点击以下按钮跳转到重置页面

<p align="center">
<a href="{{ password_reset_url }}"
   style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border: 1px solid #666;border-radius: 1px;background: #2980b9;background: linear-gradient(180deg, #00aee0, #2980b9);text-decoration: none;line-height:2em;font-size:1emm;width:12em;">{{ _('Reset password') }}</a>
</p>
</span>
