@import "vars";

.blog-content {
  //padding-right: 0;
  flex: 73.5%;
  //vertical-align: top;
  //margin-right: 0;

}

.blog-sidebar {
  flex: 26.5%;
}

@media (min-width: 800px) {
  .blog-content, .blog-sidebar {
    display: block !important;
  }

  .blog-content {
    margin-right: 1em !important;
  }

  #mobile.tabs {
    display: none;
  }

  #blog-container {
    display: flex;
  }
}
