#filter-form {
  //vertical-align: top;
  margin-bottom: 0.5em;
  margin-top: 0.75em;

  a {
    //margin-right: 5px;
    //display: inline-block;

    // padding: 3px 10px;
    //vertical-align: middle;
  }

  input {
    //vertical-align: middle;
    margin-bottom: 0.5em;
  }

  label {
    vertical-align: middle;
  }

  .filter-form-group {
    margin-top: 5px;
  }
}

#content-right {
  &.problems {
    //flex: 26.5%;
    //max-width: unset;
    padding-top: 2.25em;
  }
  &.button {
    //background: #f9f8f8 !important;
    //box-shadow: 0PX 0PX 0PX 1PX rgba(34, 36, 38, 0.15) inset;
  }
}

#search {
  width: 100%;
  height: 2.3em;
}


#category {
  margin-top: 0.5em;
  width: 100%;
}

.solved-problem-color {
  color: #44AD41;
}

.unsolved-problem-color {
  color: #DE2121;
}

.attempted-problem-color {
  color: orange;
}

#problem-table th a {
  //color: inherit;
  //display: block;
  padding: 4px 10px;
}

/*#category, #types {
  visibility: hidden;
}*/

#filter-form .form-label {
  margin-top: 0.5em;
  //font-style: italic;
}

#point-slider {
  margin: 30px 15px 10px;
  height: 10px;

  .noUi-handle {
    height: 20px;
    width: 16px;
    right: -10px;
  }

  .noUi-handle:before, .noUi-handle:after {
    top: 3px;
    height: 12px;
  }

  .noUi-handle:before {
    left: 5px;
  }

  .noUi-handle:after {
    left: 8px;
  }

  .noUi-tooltip {
    height: 17px;
    line-height: 13px;
    padding: 0 3px;
    font-size: 13px;
  }
}

