#ticket-list {
  td {
    &.problem {
      text-align: left;
      padding-left: 1em;
      width: 50%;
    }

    &.users {
      text-align: center;
      white-space: nowrap;
    }

    &.assignees {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
