@charset "UTF-8";

$highlight_blue: #38ACDF;
$widget_black: #78909c;
$border_gray: #80ACBF;
$background_gray: #ededed;
$background_light_gray: #fafafa;
$announcement_red: #ae0000;

$base_font_size: 1em;
$widget_border_radius: 4px;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
