{% extends "base.html" %}
{% block title_row %}{% endblock %}

{% block js_media %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="post-full">
    <div class="ui segment">
        <div class="post-content">
            <h2 class="ui header title">
                <div class="content">
                    {% if content_title %}{{ content_title }}{% else %}{{ title }}{% endif %}
                </div>
                <div class="sub header">
                    <div class="time">
                        {% if perms.judge.change_blogpost %}
                            <div class="ui top right attached label"><a
                                    href="{{ url('admin:judge_blogpost_change', post.id) }}">{{ _('Edit') }}</a>
                            </div>
                        {% endif %}
                        {% with authors=post.authors.all() %}
                            {% if authors %}
                                <span class="post-authors">{{ link_users(authors) }}</span>
                            {% endif %}
                        {% endwith %}
                        <span class="post-time">
                            {% trans time=post.publish_on|date(_("N j, Y, g:i a")) %}
                                posted on {{ time }}
                            {% endtrans %}
                        </span>
                    </div>
                    <span class="social">
                        {{ post_to_gplus(request, post, '<i class="fa fa-google-plus-square"></i>') }}
                        {{ post_to_facebook(request, post, '<i class="fa fa-facebook-official"></i>') }}
                        {{ post_to_twitter(request, SITE_NAME + ':', post, '<i class="fa fa-twitter"></i>') }}
                    </span>
                </div>
            </h2>

            <div class="body content-description">
                {% cache 86400 'post_content' post.id MATH_ENGINE %}
                    {{ post.content|markdown('blog', MATH_ENGINE)|reference|str|safe }}
                {% endcache %}
            </div>
        </div>
    </div>
    </div>
    {% include "comments/list.html" %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
